<table>
  <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>投稿者</th>
  </tr>
  <tr>
        <td><%= f.blog.title %></td>
        <td><%= f.blog.content %></td>
        <td><%= f.blog.user.name %></td>
  </tr>
</table>

<%= link_to "一覧へ", blogs_path%>
